---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Not Found - Mutable Constant">
  <div class="page-content">
    <div class="outer">
      <div class="inner">
        <h2>Not Found</h2>
        <p>You just hit a route that does not exist... the sadness.</p>
      </div>
    </div>
  </div>
</BaseLayout>
