---
---

<div class="outer">
  <div class="inner">
    <slot />
  </div>
</div>

<style>
  .outer {
    max-width: var(--container-width);
    margin: 0 auto;
  }

  .inner {
    padding: 0 24px;
  }
</style>
