---
interface Props {
  siteTitle: string;
  subtitle: string;
}

const { siteTitle, subtitle } = Astro.props;
---

<header class="navbar">
  <div class="outer">
    <div class="inner">
      <h1>
        <a href="/">{siteTitle}</a>
      </h1>
      <p>{subtitle}</p>
    </div>
  </div>
</header>
