---
interface Props {
  siteTitle: string;
  subtitle: string;
}

const { siteTitle, subtitle } = Astro.props;
---

<header class="navbar">
  <div class="outer">
    <div class="inner">
      <div class="brand">
        <h1>
          <a href="/">{siteTitle}</a>
        </h1>
        <p class="tagline">{subtitle}</p>
      </div>
      <nav class="social-links" aria-label="Social links">
        <a
          href="https://github.com/treetrum/"
          target="_blank"
          rel="me noopener noreferrer">GitHub</a
        >
        <a
          href="https://bsky.app/profile/sjd.co"
          target="_blank"
          rel="me noopener noreferrer">Bluesky</a
        >
        <a
          href="https://mastodon.social/@treetrum"
          target="_blank"
          rel="me noopener noreferrer">Mastodon</a
        >
      </nav>
    </div>
  </div>
</header>
